{% load static %}

<html>
    <head>
        <title>Django blog</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
    </head>

    <header>
        <a href="{% url 'home' %}">Home</a> | <a href="{% url 'cat1' %}">Cat1</a> | <a href="{% url 'cat2' %}">Cat2</a> | <a href="{% url 'cat3' %}">Cat3</a> | <a href="{% url 'cat4' %}">Cat4</a> | <a href="{% url 'cat5' %}">Cat5</a>
    </header>

    {% block content %}
    {% endblock content %}

</html>