{% extends 'base.html' %}

{% block content %}

    {% if request.path_info == '/CoachReviews/' %}
        {% for post in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail5' post.pk %}">{{ post.title }}</a></h2>
                <h4>Posted by: {{ post.author }} at {{ post.created }}</h4>
                <div>
                    <a href="{% url 'post_edit5' post.pk %}"><button>Edit Blog Post</button></a>
                    <a href="{% url 'post_delete5' post.pk %}"><button>Delete Blog Post</button></a>
                    <a href="{% url 'post_comment5' %}"><button>Leave A Comment</button></a>
                </div>
                <div class="post-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                            something
                        </p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% elif request.path_info == '/GymReviews/' %}
        {% for post in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail4' post.pk %}">{{ post.title }}</a></h2>
                <h4>Posted by: {{ post.author }} at {{ post.created }}</h4>
                <div>
                    <a href="{% url 'post_edit4' post.pk %}"><button>Edit Blog Post</button></a>
                    <a href="{% url 'post_delete4' post.pk %}"><button>Delete Blog Post</button></a>
                    <a href="{% url 'post_comment4' %}"><button>Leave A Comment</button></a>
                </div>
                <div class="post-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                            something
                        </p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% elif request.path_info == '/EquipmentReviews/' %}
        {% for post in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail3' post.pk %}">{{ post.title }}</a></h2>
                <h4>Posted by: {{ post.author }} at {{ post.created }}</h4>
                <div>
                    <a href="{% url 'post_edit3' post.pk %}"><button>Edit Blog Post</button></a>
                    <a href="{% url 'post_delete3' post.pk %}"><button>Delete Blog Post</button></a>
                    <a href="{% url 'post_comment3' %}"><button>Leave A Comment</button></a>
                </div>
                <div class="post-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                            something
                        </p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% elif request.path_info == '/NutritionQuestion/' %}
        {% for post in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail2' post.pk %}">{{ post.title }}</a></h2>
                <h4>Posted by: {{ post.author }} at {{ post.created }}</h4>
                <div>
                    <a href="{% url 'post_edit2' post.pk %}"><button>Edit Blog Post</button></a>
                    <a href="{% url 'post_delete2' post.pk %}"><button>Delete Blog Post</button></a>
                    <a href="{% url 'post_comment2' %}"><button>Leave A Comment</button></a>
                </div>
                <div class="post-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                            something
                        </p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% elif request.path_info == '/ExerciseQuestion/' %}
        {% for post in object_list %}
            <div class="post">
                <div class="post-entry">
                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                    <h4>Posted by: {{ post.author }} at {{ post.created }}</h4>
                    <div>
                        <a href="{% url 'post_edit' post.pk %}"><button>Edit Blog Post</button></a>
                        <a href="{% url 'post_delete' post.pk %}"><button>Delete Blog Post</button></a>
                        <a href="{% url 'post_comment' %}"><button>Leave A Comment</button></a>
                    </div>
                    
                </div>
                <div class="post-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                            something
                        </p>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
    {% if request.path_info == '/CoachReviews/' %}
        <a href="{% url 'post_new5' %}"><button type="button" class="btn btn-info">+ New Post</button></a>
    {% elif request.path_info == '/GymReviews/' %}
        <a href="{% url 'post_new4' %}"><button type="button" class="btn btn-info">+ New Post</button></a>
    {% elif request.path_info == '/EquipmentReviews/' %}
        <a href="{% url 'post_new3' %}"><button type="button" class="btn btn-info">+ New Post</button></a>
    {% elif request.path_info == '/NutritionQuestion/' %}
        <a href="{% url 'post_new2' %}"><button type="button" class="btn btn-info">+ New Post</button></a>
    {% elif request.path_info == '/ExerciseQuestion/' %}
        <a href="{% url 'post_new' %}"><button type="button" class="btn btn-info">+ New Post</button></a>
    {% endif %}
    
{% endblock content %}